export MAV_ENV=local
export CONFIG_FILE=./infra/config.toml
export COMPOSE_FILE=./infra/docker-compose.yaml
export UV_COMPILE_BYTECODE=1
echo "Make sure you have all DNS overrides in /etc/hosts!"
grep -oE '\b[^ `\]*\.local\b' ./infra/docker-compose.yaml | sed 's/^/127.0.0.1  /'
